---
import { textos } from '@/utils/textos';
---

<header>
  <nav>
    <a href="#hero">{textos.navegacion.inicio}</a>
    <a href="#sobre-mi">{textos.navegacion.sobreMi}</a>
    <a href="#stack">{textos.navegacion.stack}</a>
    <a href="#proyectos">{textos.navegacion.proyectos}</a>
  </nav>
</header>
