---
interface Props {
  nombre: string;
  icono: string;
}

const { nombre, icono } = Astro.props;
---

<div title={nombre}>
  <img src={icono} alt={nombre} width="32" height="32" />
  <span>{nombre}</span>
</div>
